
#m-section{
  margin: 10px;
  width: 400px;
  height: 400px;
  .m-container{
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      padding-left: 0px;
      .m-first{
          height: 80%;
          width: 40%;
          border-radius: 0px 0 0 0;
          background: rgba(#eef0f3,1);
          //background: #2edefc;
          transform: translateY(-50px) skew(-3deg);
          transition: all .2s;
          .m-icon{
              width: 80%;
              height: 40%;
              display: block;
              background-image: url(https://i.imgur.com/8NbRG4y.png);
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
              margin: 60px auto;
              border-radius: 50%;
              overflow: hidden;
              position: relative;
              &:before{
                  content: "";
                  position: absolute;
                  width: 0;
                  height: 0;
                  background: rgba(rgb(31, 11, 11),.5);
                  top:0;
                  left:0;
                  right:0;
                  bottom: 0;
                  border-radius: 50%;
                  transition: all .4s;
              }
              &:hover:before{
                  background: rgba(rgb(18, 18, 124),0.25);
                  width: 100%;
                  height: 100%;
                  top : 50;
                  left:50;    
              }
          }
      }
      .m-second{
          height: 80%;
          width: 60%;
          border-radius: 0 0 10px 0;
          //background: #fcbe2e;
          background: #CD17C9ef;
          transform: translateY(50px) skew(-3deg);
          transition: all .2s;
          text-align: center;
          h4{
                  margin: 20px;
                  font-size: 24px;
          }
          p{
              padding: 0 5px;
              line-height: 1.2em;
          }
      }
      &:hover{
          .m-first{
              transform: translateY(0px) skew(-3deg);
              background: #CD17C9ef;
          }
          .m-second{
              transform: translateY(0px) skew(-3deg);
              background: rgba(#eef0f3,1)
          }
      }
  }
}